#meta
{
    position: absolute;
    width: 99%;
    height: 99vh;
    background-image: url(Images/meta1_auto_x2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#meta_welcome
{
    position: absolute;
    top: 0%;
    left: 40%;
    font-family: 'Smooch', cursive;
    font-size: 4rem;
    color: #32527b;
}

#properties
{
    position: absolute;
    top: 70%;
    left: 80%;
    font-family: 'Meow Script', cursive;
    font-size: 2.5rem;
    color: #32527b;
}

#instagram
{
    position: absolute;
    left: 20%;
    top: 90%;
    transform: scale(5);
}

#facebook
{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: scale(5);
}

#whatsapp
{
    position: absolute;
    left: 80%;
    top: 90%;
    transform: scale(5);
}

