/*FACEBOOK----------------LOG IN PAGE------------------------------------------------------------------------------------*/
#body_id
{
    background: linear-gradient(45deg, white 50%, #1877f2 50%);
}
#body_fb
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

#para_intro
{
    display: flex;
    font-family: sans-serif;
    font-size: 4rem;
    color: #2596be;
    position: absolute;
    top: 35%;
    left: 20%;
}

#para_body
{
    display: flex;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #362f3a;
    position: absolute;
    top: 55%;
    left: 5%;
}

#loIin_signUp
{
    display: flex;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;;
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;
    top: 20%;
    right: 10%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#inp_email
{
    height: 20px;
    width: 290px;
    position: absolute;
    top: 10%;
    left: 5%;
    padding: 5px;
    border-radius: 5px;
}

#password
{
    height: 20px;
    width: 290px;
    position: absolute;
    top: 25%;
    left: 5%;
    padding: 5px;
    border-radius: 5px;
}

#button_logIn
{
    height: 50px;
    width: 300px;
    position: absolute;
    top: 40%;
    left: 5%;
    padding: 5px;
    border-radius: 5px;
    background-color: #F29318;
    font-size: 20px;
    cursor: pointer;
}

#forgot_password
{
    position: absolute;
    top: 55%;
    color: black;
}

#button_signUp
{
    height: 50px;
    width: 300px;
    position: absolute;
    top: 80%;
    left: 5%;
    padding: 5px;
    border-radius: 5px;
    background-color: #18F226;
    font-size: 20px;
    cursor: pointer;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#FFFF00;
    height: 1px;
    position: absolute;
    top: 70%;
}



@media (min-width:0px) and (max-width:350px){
    #loIin_signUp
    {
        transform: scale(0.73);
        top: 23%;
        left: -0.75cm;
    }
    
    #para_intro
    {
        font-size: 3rem;
        top: 1%;
        left: 20%;
        color: white;
    }
    
    #para_body
    {
        top: 70%;
        transform: scale(0.9);
        margin: 10px;
    }
}

@media (min-width:351px) and (max-width:400px)
{
    #loIin_signUp
    {
        transform: scale(0.8);
        top: 23%;
        left: 0%;
    }
    
    #para_intro
    {
        font-size: 3rem;
        top: 1%;
        left: 25%;
        color: white;
    }
    
    #para_body
    {
        top: 80%;
        right: 10%;
    }
}

@media (min-width:401px) and (max-width:600px)
{
    #loIin_signUp
    {
        transform: scale(0.9);
        top: 23%;
    }
    
    #para_intro
    {
        font-size: 3rem;
        top: 1%;
        left: 25%;
        color: white;
    }
    
    #para_body
    {
        top: 80%;
    }
}

@media (min-width:601px) and (max-width:800px)
{
    #loIin_signUp
    {
        transform: scale(1);
        top: 23%;
        left: 200px;
    }
    
    #para_intro
    {
        font-size: 3rem;
        top: 1%;
        left: 35%;
        color: white;
    }
    
    #para_body
    {
        top: 80%;
    }
}

@media (min-width:801px) and (max-width:1100px)
{
    #loIin_signUp
    {
        transform: scale(1);
        top: 15%;
    }
    
    #para_intro
    {
        font-size: 3rem;
        top: 35%;
        left: 20%;
        color: #2596be;
    }
    
    #para_body
    {
        top: 70%;
    }
}



/*FACEBOOK----------------LOG IN PAGE------------------------------------------------------------------------------------*/



/*FACEBOOK----------------HOME PAGE------------------------------------------------------------------------------------*/



#upper_options{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 5%;
    width: 99%;
    border: 1px solid black;
    background-color: #242526;
}

.fb_icon{
    color: #0e8ef2;
    transform: scale(2.5);
    position: absolute;
    left: 2%;
}

.search_fb{
    transform: scale(1.5);
    position: absolute;
    left: 6.5%;
    z-index: 3;
    color: #808286;
}

#home_icon_holder, #friends_icon_holder, #watch_icon_holder, #marketplace_icon_holder, #gaming_icon_holder{
    border: 1px solid white;
    border-style: hidden;
    height: 43px;
    width: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}

#home_icon_holder{
    left: 35%;
}

#friends_icon_holder{
    left: 40%;
}

#watch_icon_holder{
    left: 45%;
}

#marketplace_icon_holder{
    left: 50%;
}

#gaming_icon_holder{
    left: 55%;
}



.home_icon, .friends_icon, .watch_icon, .marketplace_icon, .gaming_icon{
    transform: scale(1.5);
    z-index: 2;
    color: #919399;
}

#input_fb_home{
    border: 1px solid black;
    border-radius: 20px;
    transform: scale(1.3);
    position: absolute;
    left: 7%;
    padding: 5px;
    background-color: #3a3b3c;
    color: #808286;
}


#name{
    color: #d6d8dd;
    position: absolute;
    right: 20%;
    font-family: monospace;
    transform: scale(1.3);
}

#fb_profile_pic{
    height: 35px;
    width: 35px;
    position: absolute;
    right: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.menu_icon, .fb_messenger, .notification, .down_arrow{
    transform: scale(1.5);
    position: absolute;
    z-index: 2;
    color: #7d7f82;
}
.menu_icon{
    right: 16%;
}
.fb_messenger{
    right: 12%;
}
.notification{
    right: 8%;
}
.down_arrow{
    right: 4%;
}









#left_options{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6.7%;
    left: 0%;
    height: 93%;
    width: 23%;
    background-color: #18191a;
    border: 1px solid red;
}

#fb_left_profile_pic{
    height: 45px;
    width:45px;
    position: absolute;
    top: 3%;
    left: 4.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#left_name{
    color: #d6d8dd;
    position: absolute;
    top: 3%;
    left: 30%;
    font-family: monospace;
    transform: scale(1.3);
}


.left_friends, .left_group_friends, .left_marketplace_icon, .left_watch, .left_memories, .left_saved, .left_pages, .left_events, .left_jobs, .left_recent, .left_see_more{
    position: absolute;
    transform: scale(1.5);
    left: 8%;
    
}


.left_friends{
    top: 13%;
    display: block;
    background: -webkit-linear-gradient(left,#1a83f4, #60d6c6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left_group_friends{
    top: 20%;
    display: block;
    background: -webkit-linear-gradient(#9c47fc, #356ad2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left_marketplace_icon{
    top: 28%;
    display: block;
    background: -webkit-linear-gradient(#59c8d4, #1c76c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left_watch{
    top: 36%;
    display: block;
    background: -webkit-linear-gradient(#59c8d4, #1c76c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left_memories{
    top: 44%;
    display: block;
    background: -webkit-linear-gradient(#18437a, rgba(28,129,217,255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left_saved{
    top: 52%;
    display: block;
    background: -webkit-linear-gradient(#d52ea1, #723ddd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left_pages{
    top: 60%;
    display: block;
    background: -webkit-linear-gradient(#f46d2d, #f36e2d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left_events{
    top: 68%;
    display: block;
    background: -webkit-linear-gradient(top, #ed4461 20%, #f4f6f8 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left_jobs{
    top: 76%;    display: block;
    background: -webkit-linear-gradient(#f69b3c, #bf6900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left_recent{
    top: 84%;
        display: block;
    background: -webkit-linear-gradient(top, #d3e8fa, #1e92f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left_see_more{
    top: 90%;
        display: block;
    background: -webkit-linear-gradient(#18437a, rgba(28,129,217,255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#left_end{
    position: absolute;
    bottom: -1.7%;
    left: 5%;
    font-size: 15px;
    color: #94969a;
}

.left_info_names{
    position: absolute;
    font-family: sans-serif;
    font-size: 20px;
    left: 25%;
    color: #e3e5ea;
}




























/*FACEBOOK----------------HOME PAGE------------------------------------------------------------------------------------*/
